In [1]:
# Data clean

In [61]:
import csv
import pandas as pd
import numpy as np
import xlrd

In [62]:

df = pd.read_csv('/Users/itzhakdavidi/Desktop/Projects/Books/raw_data_steimatzky.csv',header=None)

In [63]:
# Creating a header.
df.columns = ['Name', 'Author', 'Price_Physical', 'Price_Sale_Physical', 'Price_Club_Physical', 'Price_Digital', 'Price_Sale_Digital', 'Price_Club_Digital', 'Category', 'Sub-Category', 'Descreption']

In [64]:
# Cleaning Names that contain "\n"
df['Name'] = df['Name'].str.replace('\n', '')

In [65]:
# Removing the shekels symbol from Price_Physical

df['Price_Physical'] = df['Price_Physical'].str.extract(r'(\d+.\d+)')

#Set zero values to not available.
df['Price_Physical'] = df['Price_Physical'].str.replace('0.00', 'Not Available')

/var/folders/6w/y1ct23gx26j_qh03t08jk1lc0000gn/T/ipykernel_32139/2742994968.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price_Physical'] = df['Price_Physical'].str.replace('0.00', 'Not Available')

In [66]:
#Same for Price_Sale_Pyshical and Price_Club_Pyhsical


df['Price_Sale_Physical'] = df['Price_Sale_Physical'].str.extract(r'(\d+.\d+)')

df['Price_Club_Physical']=  df['Price_Club_Physical'].str.extract(r'(\d+.\d+)')

In [67]:
# Removing redandunt information from Price_Digital

df['Price_Digital'] = df['Price_Digital'].str.extract(r'(\d+.\d+)')

# After cleaning we have rows with value of zeros. We will convert it to Not Available .
df['Price_Digital'] = df['Price_Digital'].replace('0.00' , 'Not Available')

In [68]:
#Cleaning Price_Sale_Digital

df['Price_Sale_Digital'] = df['Price_Sale_Digital'].str.extract(r'(\d+.\d+)')

In [69]:
#Cleaning redundant information from category column
df['Category'] = df['Category'].str.replace('\n תחום:' , '')
df['Category'] = df['Category'].str.replace('\n', '')

In [70]:
#Cleaning redundant information from sub-category column
df['Sub-Category'] = df['Sub-Category'].str.replace('\n', '')
df['Sub-Category'] = df['Sub-Category'].str.replace(' תת תחום:', '')

In [71]:
# Cleaning Descreption
df['Descreption'] = df['Descreption'].str.replace('\n', '')

In [72]:
df['Price_Club_Physical'] = df['Price_Club_Physical'].fillna('Not Available')

In [73]:
# replacing missing author values with not available
df['Author'] = df['Author'].fillna('Not Available')

In [74]:
df = df.drop('Price_Club_Digital', axis = 1)

In [75]:
df.head()

,Name,Author,Price_Physical,Price_Sale_Physical,Price_Club_Physical,Price_Digital,Price_Sale_Digital,Category,Sub-Category,Descreption
0,בלובירד,ג’נבייב גרהאם,98.00,88.20,44.90,Not Available,44.00,סיפורת,סיפורת תרגום,יום אחד הוא פשוט מופיע במקום העבודה שלה. גבר י...
1,לב רעב,אשכול נבו,98.00,78.40,73.50,49.00,28.00,סיפורת,סיפורת מקור,"כתיבתו של אשכול נבו היא בעת ובעונה אחת חריפה, ..."
2,ציידת היתומים,אלן מארי וייזמן,108.00,97.20,44.90,Not Available,54.00,סיפורת,סיפורת תרגום,רומן היסטורי מרתק ועוצמתי – נערה צעירה בעיר פי...
3,הרומן שלי עם כריסטי,נינה דה גרמונט,98.00,88.20,44.90,Not Available,44.00,סיפורת,סיפורת תרגום,בתחילת חודש דצמבר בשנת 1926 נעלמה הסופרת אגתה ...
4,באומגרטנר,פול אוסטר,88.00,79.20,44.90,Not Available,37.00,סיפורת,סיפורת תרגום,"ספרו החדש של פול אוסטר, רומן קטן המתאר חיים של..."

In [76]:
df['Price_Physical'] = pd.to_numeric(df['Price_Physical'], errors='coerce')

In [77]:
df.head()

,Name,Author,Price_Physical,Price_Sale_Physical,Price_Club_Physical,Price_Digital,Price_Sale_Digital,Category,Sub-Category,Descreption
0,בלובירד,ג’נבייב גרהאם,98.0,88.20,44.90,Not Available,44.00,סיפורת,סיפורת תרגום,יום אחד הוא פשוט מופיע במקום העבודה שלה. גבר י...
1,לב רעב,אשכול נבו,98.0,78.40,73.50,49.00,28.00,סיפורת,סיפורת מקור,"כתיבתו של אשכול נבו היא בעת ובעונה אחת חריפה, ..."
2,ציידת היתומים,אלן מארי וייזמן,108.0,97.20,44.90,Not Available,54.00,סיפורת,סיפורת תרגום,רומן היסטורי מרתק ועוצמתי – נערה צעירה בעיר פי...
3,הרומן שלי עם כריסטי,נינה דה גרמונט,98.0,88.20,44.90,Not Available,44.00,סיפורת,סיפורת תרגום,בתחילת חודש דצמבר בשנת 1926 נעלמה הסופרת אגתה ...
4,באומגרטנר,פול אוסטר,88.0,79.20,44.90,Not Available,37.00,סיפורת,סיפורת תרגום,"ספרו החדש של פול אוסטר, רומן קטן המתאר חיים של..."

In [78]:
# Converting columns to numeric and handling errors
for column in range(len(df.columns[2:7])):
    
    df[df.columns[2:7][column]] = pd.to_numeric(df[df.columns[2:7][column]], errors = 'coerce')

In [94]:
# Correcting the column names
df.columns = ['Name', 'Author', 'Price Physical', 'Price Sale Physical', 'Price Club Physical', 'Price Digital', 'Price Sale Digital', 'Category', 'Sub Category', 'Description']

In [90]:
# Filling NA with average price
df['Price Physical'].fillna(round(df['Price Physical'].mean()), inplace=place= True)

df['Price Club Physical'].fillna(round(df['Price Club Physical'].mean()), inplace=True)

df['Price Digital'].fillna(round(df['Price Digital'].mean()), inplace=True)

In [96]:
# Exporting dataframe to csv
df.to_csv('steimatzky_cleaned.csv', encoding='utf-8-sig', index = False)

In [95]:
df.isna().sum()

Name                   0
Author                 0
Price Physical         0
Price Sale Physical    0
Price Club Physical    0
Price Digital          0
Price Sale Digital     0
Category               0
Sub Category           0
Description            0
dtype: int64

In [98]:
# creating a sql database

In [102]:
from sqlalchemy import create_engine
import psycopg2
import io

In [136]:
engine = create_engine('postgresql://postgres:123123qQ@localhost:5432/project_books')

In [137]:
engine

Engine(postgresql://postgres:***@localhost:5432/project_books)

In [120]:
df = pd.read_csv('/Users/itzhakdavidi/Desktop/Projects/Books/steimatzky_cleaned.csv')

In [138]:
df.to_sql('steimatzky', engine)

978